h1 {
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(10, 90, 21);
    text-align: center;
  }
body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #333; /* dark grey text */
    background-color: rgb(156, 221, 173); /* white background */
    line-height: 1.5; /* improve readability */
}

h2, li, th {
    font-family: "Helvetica", sans-serif;
    color: #333; /* blue heading text */
}

p {
    margin: 1em 0; /* add space between paragraphs */
}

img {
    max-width: 100%; /* scale images to fit the page */
}
table th {
    background-color: rgb(20, 52, 24);
    font-weight: bold;
}
